{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Available Products</h1>
    <div class="text-right mb-3">
        {% if user.is_staff %}
        <a href="{% url 'product_create' %}" class="btn btn-success">Add Product</a>
        {% endif %}
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-lg">
                <img class="card-img-top p-3" src="{{ product.image.url }}" alt="{{ product.name }}"
                     style="height: 200px; object-fit: contain;">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="text-muted">Price: <strong>{{ product.price }}тг</strong></p>
                    <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary btn-sm">View Details</a>
                    {% if user.is_staff %}
                    <a href="{% url 'product_update' product.pk %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'product_delete' product.pk %}" class="btn btn-danger btn-sm">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12 text-center">
            <p>No products available.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
